// Add your custom CSS here.
.top-bar, #header {
  background-color: #faf2e4
}
.top-bar {
  border-bottom: 1px solid #f5e5c8;
}
.top-bar {
  text-align: right;
  }
#search-form {
  border: 1px solid #89cab6;
}
.header__search-btn svg, .search__submit svg {
  color: #de6d39
}
.body {
  font-family: 'Open Sans', sans-serif !important;
}
.footer {
  background: #faf2e4 !important;
  border-top: none !important;
}
.footer__title {
  text-transform: uppercase;
  color: #696555;
}
.footer__title + p, .footer__links a {
  color: #333;
}
.footer__credits span {
  text-align: center;
  color: #333;
}
.product-card__buy button {
  color: #fff;
  background: #de6d39;
  border-color: #de6d39;
}
#product-block .product__buy button {
  background: #de6d39;
  border-color: #de6d39;
  color: #fff;
  width: 100%;
}
.product__picture {
  border: 1px solid #ccc;
}
.products-carousel__title {
  color: #696555;
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
}
.products-carousel__title {
  font-size: 0.75rem;
}
#product-description .container {
  border: 1px solid #ccc;
  padding-right: 0px;
  padding-left: 0px;
}
#product-description .container .lead {
  background-color: #faf2e4;
  border-color: #ccc;
  padding: 5px 15px 3px;
  font-weight: 700;
  color: #686454;
  text-transform: uppercase;
  font-size: 15px !important;
}
#product-description .container .html-clearfix {
  padding-left: 15px;
  padding-right: 15px;
}
#cart-count {
  color: #fff;
  background: #696555;
}
.header__toggler svg, #user-button svg, #cart-button svg, #mobile-search-btn svg {
  color: #de6d39
}
.top-bar__page-links a {
  font-weight: 400 !important;
 }
.top-bar__page-links a, .whatsapp-link, .top-bar .fa-facebook, .top-bar .fa-instagram {
  color: #696555 !important;
}
.product-card__name {
  color: #333;
}
.prices__value, .product-card__name:hover {
  color: #de6d39;
}
.product__name {
  color: #696555;
  text-transform: uppercase;
  font-size: 21px !important;
  font-weight: 700;
}

@media (min-width: 768px) {
  .product-card__pictures {
    border: 1px solid #ccc;
  }
}

@media (max-width: 768px) {
  .info-bar {
    display: none !important;
  }
}

#product .product__payment, #product .prices__installments, .product-card__prices .prices__installments {
  display: none;
}
.minicart__subtotal .prices__installments, .minicart__btn-cart.btn.btn-block.btn-outline-secondary {
  color: #333;
}
.product-card__offer-stamp, .minicart__btn-checkout.btn.btn-block.btn-primary, .cart__info .cart__btn-checkout.btn.btn-lg.btn-block.btn-success, .checkout__btn-proceed.btn.btn-success.mt-4, .payment__method .btn.btn-success.btn-lg.btn-block {
  background: #89cab6;
  border: #89cab6;
}
.header__nav a {
  margin-right: .7rem;
}
.product__discount {
color: #89cab6;
}
.eapps-widget-toolbar + a {
  display: none !important;
}
