// Add your custom CSS here.
.top-bar, #header {
  background-color: #faf2e4
}
.top-bar {
  border-bottom: 1px solid #f5e5c8;
}
#search-form {
  border: 1px solid #c6bdaf;
}
.header__search-btn svg, .search__submit svg {
  color: #ef8d66
}
body {
  font-family: 'Open Sans', sans-serif !important;
}
footer {
  background: #faf2e4 !important;
  border-top: none !important;
}
.footer__title {
  text-transform: uppercase;
  color: #381b1c;
}
.footer__title + p, .footer__links a {
  color: #333;
}
.footer__credits span {
  text-align: center;
  color: #333;
}
.product-card__buy button {
  color: #fff;
  background: #da9a3c;
  border-color: #ce8a27;
}
#product-block .product__buy button {
  background: #de6d39;
  color: #fff;
  width: 100%;
}
.product__picture {
  border: 1px solid #ccc;
}
.products-carousel__title {
  color: #696555;
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
}
#product-description .container {
  border: 1px solid #ccc;
  padding-right: 0px;
  padding-left: 0px;
}
#product-description .container .lead {
  background-color: #faf2e4;
  border-color: #ccc;
  padding: 5px 15px 3px;
  font-weight: 700;
  color: #686454;
  text-transform: uppercase;
  font-size: 15px !important;
}
#product-description .container .html-clearfix {
  padding-left: 15px;
  padding-right: 15px;
}
#cart-count {
  color: #fff;
  background: #452f06;
}
.header__toggler svg, #user-button svg, #cart-button svg, #mobile-search-btn svg {
  color: #da9a3c
}
.top-bar__page-links a {
  font-weight: 400 !important;
}
.top-bar__page-links a, .whatsapp-link, .top-bar .fa-facebook, .top-bar .fa-instagram {
  color: #452f06 !important;
}
.product-card__name {
  color: #333;
}
.prices__value, .product-card__name:hover {
  color: #d89a3e;
}
.product__name {
  color: #696555;
  text-transform: uppercase;
  font-size: 21px !important;
  font-weight: 700;
}
.product-card__pictures {
  border: 1px solid #ccc;
}
#product .product__payment, #product .prices__installments, .product-card__prices .prices__installments {
  display: none;
}
.minicart__subtotal .prices__installments, .minicart__btn-cart.btn.btn-block.btn-outline-secondary {
  color: #333;
}
